<html th:replace="~{student/studentbase::layout(~{::section})}">

<head>
	<title>Student Zone-NOU e-Gyan</title>
</head>

<body>
	<section>
		<div class="row">
			
		</div>
		<div class="row">
			<div class="col-sm-5 col-lg-7 mx-auto p-5  bg-opacity-50 mt-5" style=" background-color:#FF7F3E;">
				<h2 class="text-center fw-bold text-dark mt-4" > Change your password</h2>
				<div th:if="${message}" class="alert alert-warning alert-dismissible fade show" role="alert">
					<span th:text="${message}"> </span>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				<form method="post">
					<div class="row ">
						<div class="col-sm-6 py-2">
							<label>enter old password </label>
						</div>
						<div class="col-sm-6 py-2">
							<input type="password" required="required" class="form-control bg-light"
								placeholder="Enter old password..." name="oldpass">
						</div>

						<div class="col-sm-6 py-2">
							<label>Enter new password </label>
						</div>
						<div class="col-sm-6 py-2">
							<input type="password" required="required" class="form-control bg-light"
								placeholder="Enter new password..." name="newpass">
						</div>
						<div class="col-sm-6 py-2">
							<label>Confirm password</label>
						</div>
						<div class="col-sm-6 py-2">
							<input type="password" required="required" class="form-control bg-light"
								placeholder="Confirm password..." name="confirmpass">
						</div>

						<div class="col-sm-12 text-center py-4">
							<button type="submit" class="btn btn-info mx-auto rounded-0 px-4 py-3 ">Submit</button>
						</div>
					</div>
				</form>
			</div>

		</div>

	</section>
</body>

</html>