
<html th:replace="base::layout(~{::section})">
	<head>
		
	</head>
	<body>
		<section>
			<!--<div class="row" style="margin-left: 80px;">
			<h2 style="text-align: center; color: blue;">This is courses Details...</h2> -->
			<div class="container">
						<div class="row">
						  <span style="color: black;"></span><h4>COURSES_</h4>
						  <h2>OUR<span style="color: brown;"> COURSES DETAIL</span></h2>
						</div>
						</div>
						<div class="row row-cols-1 row-cols-md-3 g-3 mb-3">
						  <div class="col">
						    <div class="card h-100" style="height: 300px; width: 300px; margin-left: 90px;">
						      <img src="images/bba.png" class="card-img-top" alt="...">
						      <div class="card-body">
						        <h5 class="card-title" style="color: brown; text-align: center;">Bachelor in Business Administration</h5>
						        <h6 class="card-text" style="text-align: center;"><b>Under Graduation Course</b></h6>
								<p class="card-text" style="text-align: center;"><b style="color: darkorange;">Duration:</b> 3 years</p>
						      </div>
						    </div>
						  </div>
						  <div class="col">
						    <div class="card h-100" style="height: 300px; width: 300px;">
						      <img src="images/bca.png" class="card-img-top" alt="...">
						      <div class="card-body">
						        <h5 class="card-title" style="color: brown; text-align: center;">Bachelor in Computer Application</h5>
						        <h6 class="card-text" style="text-align: center;"><b>Under Graduation Course</b></h6>
								<p class="card-text" style="text-align: center;"><b style="color: darkorange;">Duration:</b> 3 years</p>
						      </div>
						    </div>
						  </div>
						  <div class="col">
						    <div class="card h-100" style="height: 300px; width: 300px;">
						      <img src="images/bag.png" class="card-img-top" alt="...">
						      <div class="card-body">
						        <h5 class="card-title" style="color: brown; text-align: center;">Bachelor of Arts(Geography)</h5>
						        <h6 class="card-text" style="text-align: center;"><b>Under Graduation Course</b></h6>
								<p class="card-text" style="text-align: center;"><b style="color: darkorange;">Duration:</b> 3 years</p>
						      </div>
						     
						    </div>
						  </div>
						</div>
						
						<div class="row row-cols-1 row-cols-md-3 g-3 mb-3">
						  <div class="col">
						    <div class="card h-100"  style="height: 300px; width: 300px; margin-left: 90px;">
						      <img src="images/bcom.png" class="card-img-top" alt="...">
						      <div class="card-body">
								<h5 class="card-title" style="color: brown; text-align: center;">Bachelor of Commerce (B.Com.)</h5>
								<h6 class="card-text" style="text-align: center;"><b>Under Graduation Course</b></h6>
							     <p class="card-text" style="text-align: center;"><b style="color: darkorange;">Duration:</b> 3 years</p>
						      
						      </div>
					
						    </div>
						  </div>
						  <div class="col">
						    <div class="card h-100" style="height: 300px; width: 300px;">
						      <img src="images/blis.png" class="card-img-top" alt="...">
						      <div class="card-body">
								<h5 class="card-title" style="color: brown; text-align: center;">Bachelor of Library & Information Science</h5>
														        <h6 class="card-text" style="text-align: center;"><b>Under Graduation Course</b></h6>
																<p class="card-text" style="text-align: center;"><b style="color: darkorange;">Duration:</b> 1 years</p>
						      </div>
						      
						    </div>
						  </div>
						  <div class="col">
						    <div class="card h-100"  style="height: 300px; width: 300px;">
						      <img src="images/bsc.png" class="card-img-top" alt="...">
						      <div class="card-body">
								<h5 class="card-title" style="color: brown; text-align: center;">Bachelor of Science(Chemistry)</h5>
														        <h6 class="card-text" style="text-align: center;"><b>Under Graduation Course</b></h6>
																<p class="card-text" style="text-align: center;"><b style="color: darkorange;">Duration:</b> 3 years</p>
						      </div>
						      
						    </div>
						  </div>
						</div>
						
						<div class="row row-cols-1 row-cols-md-3 g-3 mb-3">
						  <div class="col">
						    <div class="card h-100"  style="height: 300px; width: 300px; margin-left: 90px;">
						      <img src="images/ma.png" class="card-img-top" alt="...">
						      <div class="card-body">
								<h5 class="card-title" style="color: brown; text-align: center;">Master of Arts (Environmental Science)</h5>
														        <h6 class="card-text" style="text-align: center;"><b>Post Graduation Course</b></h6>
																<p class="card-text" style="text-align: center;"><b style="color: darkorange;">Duration:</b> 2 years</p>
						      </div>
						      
						    </div>
						  </div>
						  <div class="col">
						    <div class="card h-100"  style="height: 300px; width: 300px;">
						      <img src="images/ma(sanskrit).png" class="card-img-top" alt="...">
						      <div class="card-body">
								<h5 class="card-title" style="color: brown; text-align: center;">Master of Arts(Sanskrit)</h5>
														        <h6 class="card-text" style="text-align: center;"><b>Post Graduation Course</b></h6>
																<p class="card-text" style="text-align: center;"><b style="color: darkorange;">Duration:</b> 2 years</p>
						      </div>
					
						    </div>
						  </div>
						  <div class="col">
						    <div class="card h-100"  style="height: 300px; width: 300px;">
						      <img src="images/mca.png" class="card-img-top" alt="...">
						      <div class="card-body">
								<h5 class="card-title" style="color: brown; text-align: center;">Master in Computer Application</h5>
														        <h6 class="card-text" style="text-align: center;"><b>Post Graduation Course</b></h6>
																<p class="card-text" style="text-align: center;"><b style="color: darkorange;">Duration:</b> 2 years</p>
						      </div>
												    </div>
						  </div>
						</div>
						
						<div class="row row-cols-1 row-cols-md-3 g-3 mb-3">
						  <div class="col">
						    <div class="card h-100"  style="height: 300px; width: 300px; margin-left: 90px;">
						      <img src="images/mcom.png" class="card-img-top" alt="...">
						      <div class="card-body">
								<h5 class="card-title" style="color: brown; text-align: center;">Master of Commerce</h5>
														        <h6 class="card-text" style="text-align: center;"><b>Post Graduation Course</b></h6>
																<p class="card-text" style="text-align: center;"><b style="color: darkorange;">Duration:</b> 2 years</p>
						      </div>
						      
						    </div>
						  </div>
						  <div class="col">
						    <div class="card h-100"  style="height: 300px; width: 300px;">
						      <img src="images/msc(physics).png" class="card-img-top" alt="...">
						      <div class="card-body">
								<h5 class="card-title" style="color: brown; text-align: center;">Master of Science(Physics)</h5>
														        <h6 class="card-text" style="text-align: center;"><b>Post Graduation Course</b></h6>
																<p class="card-text" style="text-align: center;"><b style="color: darkorange;">Duration:</b> 2 years</p>
						      </div>
						      
						    </div>
						  </div>
						  <div class="col">
						    <div class="card h-100"  style="height: 300px; width: 300px;">
						      <img src="images/mlis.png" class="card-img-top" alt="...">
						      <div class="card-body">
								<h5 class="card-title" style="color: brown; text-align: center;">Master in Library and Information Science</h5>
														        <h6 class="card-text" style="text-align: center;"><b>Post Graduation Course</b></h6>
																<p class="card-text" style="text-align: center;"><b style="color: darkorange;">Duration:</b> 2 years</p>
						      </div>
						      
						    </div>
						  </div>
						</div>
						
						<div class="row row-cols-1 row-cols-md-3 g-3 mb-3">
						  <div class="col">
						    <div class="card h-100"  style="height: 300px; width: 300px; margin-left: 90px;">
						      <img src="images/pgdfm.png" class="card-img-top" alt="...">
						      <div class="card-body">
								<h5 class="card-title" style="color: brown; text-align: center;">PG Diploma in Financial Management</h5>
														        <h6 class="card-text" style="text-align: center;"><b>Diploma Course</b></h6>
																<p class="card-text" style="text-align: center;"><b style="color: darkorange;">Duration:</b> 2 years</p>
						      </div>
						      
						    </div>
						  </div>
						  <div class="col">
						    <div class="card h-100"  style="height: 300px; width: 300px;">
						      <img src="images/pgdhet.png" class="card-img-top" alt="...">
						      <div class="card-body">
								<h5 class="card-title" style="color: brown; text-align: center;">Post Graduation Diploma (Hindi-English Translate)</h5>
														        <h6 class="card-text" style="text-align: center;"><b>Diploma Course</b></h6>
																<p class="card-text" style="text-align: center;"><b style="color: darkorange;">Duration:</b> 2 years</p>
						      </div>
						      
						    </div>
						  </div>
						  <div class="col">
						    <div class="card h-100"  style="height: 300px; width: 300px;">
						      <img src="images/pgdys.png" class="card-img-top" alt="...">
						      <div class="card-body">
								<h5 class="card-title" style="color: brown; text-align: center;">Post Graduation Diploma (Yogic Studies)</h5>
														        <h6 class="card-text" style="text-align: center;"><b>Diploma Course</b></h6>
																<p class="card-text" style="text-align: center;"><b style="color: darkorange;">Duration:</b> 2 years</p>
						      </div>
												    </div>
						  </div>
						</div>
						
						<div class="row row-cols-1 row-cols-md-3 g-3 mb-3">
						  <div class="col">
						    <div class="card h-100"  style="height: 300px; width: 300px; margin-left: 90px;">
						      <img src="images/pgdipr.png" class="card-img-top" alt="...">
						      <div class="card-body">
								<h5 class="card-title" style="color: brown; text-align: center;">Post Graduation Diploma (Information and Public Relations)</h5>
														        <h6 class="card-text" style="text-align: center;"><b>Diploma Course</b></h6>
																<p class="card-text" style="text-align: center;"><b style="color: darkorange;">Duration:</b> 2 years</p>
						      </div>
												    </div>
						  </div>
						  <div class="col">
						    <div class="card h-100"  style="height: 300px; width: 300px;">
						      <img src="images/pgdmm.png" class="card-img-top" alt="...">
						      <div class="card-body">
								<h5 class="card-title" style="color: brown; text-align: center;">Post Graduation Diploma (Marketing Management)</h5>
														        <h6 class="card-text" style="text-align: center;"><b>Diploma Course</b></h6>
																<p class="card-text" style="text-align: center;"><b style="color: darkorange;">Duration:</b> 2 years</p>
						      </div>
						     
						    </div>
						  </div>
						  <div class="col">
						    <div class="card h-100"  style="height: 300px; width: 300px;">
						      <img src="images/pgdjmc.png" class="card-img-top" alt="...">
						      <div class="card-body">
								<h5 class="card-title" style="color: brown; text-align: center;">Post Graduation Diploma (Journalism & Mass Communication)</h5>
														        <h6 class="card-text" style="text-align: center;"><b>Diploma Course</b></h6>
																<p class="card-text" style="text-align: center;"><b style="color: darkorange;">Duration:</b> 2 years</p>
						      </div>
												    </div>
						  </div>
						</div>
						<div class="row row-cols-1 row-cols-md-3 g-3 mb-3">
						  <div class="col">
						    <div class="card h-100"  style="height: 300px; width: 300px; margin-left: 90px;">
						      <img src="images/cacl.png" class="card-img-top" alt="...">
						      <div class="card-body">
								<h5 class="card-title" style="color: brown; text-align: center;">Certificate in Abolition of Child Labour</h5>
														        <h6 class="card-text" style="text-align: center;"><b>Certification Course</b></h6>
																<p class="card-text" style="text-align: center;"><b style="color: darkorange;">Duration:</b> 1 years</p>
						      </div>
												    </div>
						  </div>
						  <div class="col">
						    <div class="card h-100"  style="height: 300px; width: 300px;">
						      <img src="images/caimvs.png" class="card-img-top" alt="...">
						      <div class="card-body">
								<h5 class="card-title" style="color: brown; text-align: center;">Certificate in Artificial Insemination and Minor Veterinary Services</h5>
														        <h6 class="card-text" style="text-align: center;"><b>Certification Course</b></h6>
																<p class="card-text" style="text-align: center;"><b style="color: darkorange;">Duration:</b> 1 years</p>
						      </div>
												    </div>
						  </div>
						  <div class="col">
						    <div class="card h-100"  style="height: 300px; width: 300px;">
						      <img src="images/cbep.png" class="card-img-top" alt="...">
						      <div class="card-body">
								<h5 class="card-title" style="color: brown; text-align: center;">Certificate in Bio-Fertilizer Production</h5>
					               <h6 class="card-text" style="text-align: center;"><b>Certification Course</b></h6>
				                    <p class="card-text" style="text-align: center;"><b style="color: darkorange;">Duration:</b> 1 years</p>
						      </div>
						
						    </div>
						  </div>
						  
						  
						</div>
						<div class="row row-cols-1 row-cols-md-3 g-3 mb-3" >
												  <div class="col">
												    <div class="card h-100" style="height: 300px; width: 300px; margin-left: 90px;">
												      <img src="images/cbl.png" class="card-img-top" alt="...">
												      <div class="card-body">
												        <h5 class="card-title" style="color: brown; text-align: center;">Certificate in Bhojpuri Language</h5>
												        <h6 class="card-text" style="text-align: center;"><b>Certification Course</b></h6>
														<p class="card-text" style="text-align: center;"><b style="color: darkorange;">Duration:</b> 1 years</p>
												      </div>
												    </div>
												  </div>
												  <div class="col">
												    <div class="card h-100" style="height: 300px; width: 300px;">
												      <img src="images/cbmanc.png" class="card-img-top" alt="...">
												      <div class="card-body">
												        <h5 class="card-title" style="color: brown; text-align: center;">Certificate in Basic Medical Assessment and Nursing Care</h5>
												        <h6 class="card-text" style="text-align: center;"><b>Certification Course</b></h6>
														<p class="card-text" style="text-align: center;"><b style="color:darkorange;">Duration:</b> 1 years</p>
												      </div>
												    </div>
												  </div>
												  <div class="col">
												    <div class="card h-100" style="height: 300px; width: 300px;">
												      <img src="images/ccpg.png" class="card-img-top" alt="...">
												      <div class="card-body">
												        <h5 class="card-title" style="color: brown; text-align: center;">Certificate in Child Psychology and Guidance</h5>
												        <p class="card-text" style="text-align: center;"><b>Under Graduation Course</b></p>
														<p class="card-text" style="text-align: center;"><b style="color: darkorange;">Duration:</b> 1 years</p>
												      </div>
												     
												    </div>
												  </div>
												</div>
						</div>
						<div class="row" style="height: 20vh;"></div>
						
		</section>
	</body>
</html>