<html th:replace="base::layout(~{::section})">

<head>

</head>

<body>


    <!--hero section end-->
    <!--section start-->
    <section id="about" class="about">
        <div class="container">
            <div class="section-title py-2" data-aos="zoom-out">
                <h2>Description</h2>
                <p>
                    About <span>NOU e-Gyan Portal</span>
                </p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row content" data-aos="fade-up">
                <div class="col-sm-1"></div>
                <div class="col-lg-6">
                    <p>
                        <strong>Nalanda Open University</strong>welcomes all our students, faculties & study centres
                        to the very new & innovative online study portal<strong> NOU e-Gyan.</strong> The portal is
                        a unique initiative by Hon'ble Vice-Chancellor <strong>Prof. (Dr.) K C Sinha</strong>, which
                        aims at providing online study material to the students of NOU.<br>
                        <br>

                        The portal is accessible from any hook and corner of the world if the system allows the
                        permission to its users. It is also fully secured and accessible 24 x 7 to its authorised
                        users. It will resolve the academic issues such as E-content Distribution, Delivery,
                        Tracking, Assessment, Progress Monitoring & Controlling of all stakeholders of the system
                        i.e. students, teachers, study centre administrators as well as Nalanda Open University
                        Admins when they are at a distance.
                    </p>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4 video mx-3 mx-lg-0 aos-int aos-animate" data-aos="zoom-in">
                    <div class="video-box  me-4">
                        <a href="https://youtu.be/jVl8uLz8f9w" class=" play-btn " data-lity=""
                            data-lity-target="https://youtu.be/jVl8uLz8f9w"></a>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </section>
    <!--section end-->

    <!-- portal section start  -->
    <section class="portal">
        <div class="container">
            <div class="row">
                <div class="section-title py-3">
                    <h2>Portal</h2>
                    <p>Users <span> of the Portal</span></p>
                </div>
                <div class="col-sm-12">
                    <div class="container">
                        <div class="row mt-5 " style="margin:0px auto;">
                            <div class="col-sm-4 mt-3 mt-lg-0 px-4">
                                <div class="card_outer">
                                    <div class="card_box pb-3">
                                        <div class="card_content">
                                            <span class="fa fa-lock services_ic"
                                                style="padding:15px 20px 15px 20px;margin-top:-.5rem;"></span>
                                            <h2>01</h2>
                                            <p class="txt">The university admin can login to monitor the portal,
                                                provide access to authorised stake holders & upload study material.
                                            </p>
                                            <div class="st-c mt-5">
                                                <a href="http://dls.nouegyan.in/" target="_blank">University
                                                    Admin</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 mt-5 mt-lg-0 px-4">
                                <div class="card_outer">
                                    <div class="card_box pb-3 ">
                                        <div class="card_content mb-3 ">
                                            <span class="fa fa-book services_ic mt-4"></span>
                                            <h2>02</h2>
                                            <p class="txt">
                                                The study centres authorised personnel can login to track students
                                                progress, enroll students, schedule assignments & generate reports.
                                            </p>
                                            <div class="st-c">
                                                <a href="http://dls.nouegyan.in/" target="_blank">Study centre</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 px-4 mt-5 mt-lg-0">
                                <div class="card_outer">
                                    <div class="card_box pb-3">
                                        <div class="card_content">
                                            <span class="fa fa-users services_ic mt-3"></span>
                                            <h2>03</h2>
                                            <p class="txt ">
                                                The university enrolled students can login to view the notification
                                                by university, access the e-contents, give assignments & track thier
                                                progress report.</p>
                                            <div class="st-c mb-4 mb-lg-0">
                                                <a href="http://dls.nouegyan.in/" target="_blank">NOU Students</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- portal section end  -->

    <!--service portal start-->

    <div class="service">
        <div class="container">
            <div class="row">
                <div class="section-title py-3 ">
                    <h2>Features</h2>
                    <p>student <span>services</span></p>
                </div>
                <div class="col-sm-3">
                    <div class="image1 mx-5 mx-lg-0">
                        <img src="images/registration.jpg" class="img-fluid">
                        <div class="text">
                            <h4>Login</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="image1 mx-5 mx-lg-0">
                        <img src="images/dashboard.jpg" class="img-fluid">
                        <div class="text">
                            <h4>Dashboard</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="image1 mx-5 mx-lg-0">
                        <img src="images/online-courses.jpg" class="img-fluid">
                        <div class="text">
                            <h4>Self Learning Material (SLM)</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="image1 mx-5 mx-lg-0">
                        <img src="images/e-lectures.jpg" class="img-fluid">
                        <div class="text">
                            <h4>e-Books</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="image1 mx-5 mx-lg-0">
                        <img src="images/self-assessment.svg" alt="" class="img-fluid p-5">
                        <div class="text">
                            <h4>self-assessment Tool</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="image1 mx-5 mx-lg-0">
                        <img src="images/performance.jpg" alt="" class="img-fluid pb-2">
                        <div class="text">
                            <h4>performance</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="image1 mx-5 mx-lg-0">
                        <img src="images/feedback.jpg" alt="" class="img-fluid pb-2">
                        <div class="text">
                            <h4>feedback</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="image1 mx-5 mx-lg-0 ms-2">
                        <img src="images/course-catlog.jpg" alt="" class="img-fluid pb-2">
                        <div class="text">
                            <h4>course-catlog</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--service portal end-->
    <!--mentor section start-->
    <div class="team">
        <div class="container">
            <div class="section-title  ">
                <h2>our mentors</h2>
                <p>Administrative <span>Setup</span></p>
            </div>
            <div class="row">
                <div class="col-lg-3 col- md-6 d-flex align-item-stretch">
                    <div class="member mx-5 mx-lg-0" data-aos="fade-up">
                        <div class="member-img">
                            <img src="images/vc.jpg" class="img-fluid mx-5 mt-3">
                        </div>
                        <div class="member-info">
                            <h4>Prof. (Dr.) K. C. Sinha</h4>
                            <span>VICE CHANCELLOR</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col- md-6 d-flex align-item-stretch">
                    <div class="member mx-5 mx-lg-0" data-aos="fade-up">
                        <div class="member-img">
                            <img src="images/pvc.jpg" class="img-fluid mx-5 mt-3">
                        </div>
                        <div class="member-info">
                            <h4>Prof. (Dr.) Sanjoy Kumar</h4>
                            <span>PRO VICE CHANCELLOR</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col- md-6 d-flex align-item-stretch">
                    <div class="member mx-5 mx-lg-0" data-aos="fade-up">
                        <div class="member-img">
                            <img src="images/registrar1.jpeg" class="img-fluid mx-5 mt-3">
                        </div>
                        <div class="member-info">
                            <h4>Dr. Md. Habibur Rahman</h4>
                            <span>REGISTRAR</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col- md-6 d-flex align-item-stretch">
                    <div class="member mx-5 mx-lg-0" data-aos="fade-up">
                        <div class="member-img">
                            <img src="images/examreg.jpg" class="img-fluid mx-5 mt-3">
                        </div>
                        <div class="member-info">
                            <h4>Dr. Neelam Kumari</h4>
                            <span>REGISTRAR (Exam)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--mentor section end-->

    <section class="course">
        <div class="container">
            <div class="row py-4">
                <div class="section-title pb-1">
                    <h2>COURSES_</h2>
                    <p> OUR<span> COURSES</span></p>
                    <div class="courses-btn text-right" style="text-align:right !important;"><a href="courses.php"
                            style="backgound:orange; color:#fff; padding:8px 20px;">View All Courses</a></div>
                </div>
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="slider"
                                style="height: 300px; width: 300px; border: 4px solid white; float: left; margin-left: 190px; box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);">
                                <img src="images/bba.png" class="d-block" alt="..."
                                    style="height: 150px; width: 250px;  margin: 20px;">
                                <h3
                                    style="font-size:18px; font-weight:bold; margin:10px 0 5px 0;color:#111; text-align:center; font-family:Releway,sans-serif; ">
                                    Bachelor of Business Administration(BBA)</h3>
                                <div class="star mb-3" style="color: darkorange; text-align: center;">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <div class="slider"
                                style="height: 300px; width: 300px; border: 4px solid white; float: left; margin-left: 30px; box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);">
                                <img src="images/bca.png" class="d-block" alt="..."
                                    style="height: 150px; width: 250px; margin: 20px;">
                                <h3
                                    style="font-size:18px; font-weight:bold; margin:10px 0 5px 0;color:#111; font-family:Raleway, sans-serif; text-align:center; ">
                                    Bachelor of Computer Applications(BCA)</h3>
                                <div class="star mb-3" style="color: darkorange; text-align: center;">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <div class="slider"
                                style="height: 300px; width: 300px; border: 4px solid white; float: left; margin-left: 30px;  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);">
                                <img src="images/mca.png" class="d-block" alt="..."
                                    style="height: 150px; width: 250px; margin: 20px;">
                                <h3
                                    style="font-size:18px; font-weight:bold; margin:10px 0 5px 0;color:#111;text-align:center; font-family:Releway,sans-serif; ">
                                    Master of Computer Applications(M.C.A.)</h3>
                                <div class="star mb-3" style="color: darkorange; text-align: center;">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="slider"
                                style="height: 300px; width: 300px; border: 4px solid white; float: left; margin-left: 30px;  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);">
                                <img src="images/pgdfm.png" class="d-block" alt="..."
                                    style="height: 150px; width: 250px; margin: 20px;">
                                <h3
                                    style="font-size:18px; font-weight:bold; margin:10px 0 5px 0;color:#111;text-align:center; font-family:Releway,sans-serif; ">
                                    PG Diploma in Financial Management(PGDFM)</h3>
                                <div class="star mb-3" style="color: darkorange; text-align: center;">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <div class="slider"
                                style="height: 300px; width: 300px; border: 4px solid white; float: left; margin-left: 30px;  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);">
                                <img src="images/cid.png" class="d-block" alt="..."
                                    style="height: 150px; width: 250px; margin: 20px;">
                                <h3
                                    style="font-size:18px; font-weight:bold; margin:10px 0 5px 0;color:#111; text-align:center; font-family:Releway,sans-serif;">
                                    Certificate in Intoriar decoration(CID)</h3>
                                <div class="star mb-3" style="color: darkorange; text-align: center;">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <div class="slider"
                                style="height: 300px; width: 300px; border: 4px solid white; float: left; margin-left: 30px;  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);">
                                <img src="images/bba.png" class="d-block" alt="..."
                                    style="height: 150px; width: 250px; margin: 20px;">
                                <h3
                                    style="font-size:18px; font-weight:bold; margin:10px 0 5px 0;color:#111;text-align:center; font-family:Releway,sans-serif; ">
                                    Bachelor of Business Administration(BBA)</h3>
                                <div class="star mb-3" style="color: darkorange; text-align: center;">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                          </div>
            
						  <div class="carousel-item">
                            <div class="slider"
                                style="height: 300px; width: 300px; border: 4px solid white; float: left; margin-left: 30px;  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);">
                                <img src="images/bca.png" class="d-block" alt="..."
                                    style="height: 150px; width:250px; margin: 20px;">
                                <h3
                                    style="font-size:18px; font-weight:bold; margin:10px 0 5px 0;color:#111; text-align:center; font-family:Releway,sans-serif;">
                                    Bachelor of Computer Applications(BCA)</h3>
                                <div class="star mb-3" style="color: darkorange; text-align: center;">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <div class="slider"
                                style="height: 300px; width: 300px; border: 4px solid white; float: left; margin-left: 30px;  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);">
                                <img src="images/mca.png" class="d-block" alt="..."
                                    style="height: 150px; width: 250px; margin: 20px;">
                                <h3
                                    style="font-size:18px; font-weight:bold; margin:10px 0 5px 0;color:#111;text-align:center; font-family:Releway,sans-serif; ">
                                    Master of Computer Applications(M.C.A.)</h3>
                                <div class="star mb-3" style="color: darkorange; text-align: center;">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <div class="slider"
                                style="height: 300px; width: 300px; border: 4px solid white; float: left; margin-left: 30px;  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);">
                                <img src="images/pgdfm.png" class="d-block" alt="..."
                                    style="height: 150px; width: 250px; margin: 20px;">
                                <h3
                                    style="font-size:18px; font-weight:bold; margin:10px 0 5px 0;color:#111;text-align:center; font-family:Releway,sans-serif; ">
                                    PG Diploma in Financial Management(PGDFM)</h3>
                                <div class="star mb-3" style="color: darkorange; text-align: center;">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                </div>
            </section>
                <!--course end-->


                <section class="tutorial mt-3" style="color:#fff;">
                    <div class="container">
                        <div class="row py-4">
                            <div class="section-title pb-1">
                                <h2>How to use</h2>
                                <p style="color:white;">NOU e-Gyan Portal Tutorial Videos</p>
                            </div>
                            <p>For any queries regarding the access into the Portal, the users can watch the tutorial
                                videos
                                provided or feel free to communicate their issues via the given contact helpline number
                                or
                                helpline email ID.</p>
                            <div class="col-lg-6 text-lg-start text-center" style="text-align:center !important;">
                                <div class="video-1">
                                    <iframe width="500" height="280" src="https://www.youtube.com/embed/Sh9VxOBoYbk"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen=""></iframe>
                                    <a href="#" class="tutorial-btn">How to login at NOU <span
                                            style="color:#fff;text-transform: lowercase;"></span>e-Gyan Portal</a>
                                </div>
                            </div>
                            <div class="col-lg-6 text-center text-lg-start">
                                <div class="video-1">
                                    <iframe width="500" height="280" src="https://www.youtube.com/embed/cEaTY8EfdRs"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen=""></iframe>
                                    <!-- <iframe width="500" height="280" src="https://www.youtube.com/embed/znpwaw2LwAQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                                    <a href="#" class="tutorial-btn">How to access content at NOU <span
                                            style="color:#fff;text-transform: lowercase;"></span>e-Gyan Portal</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="helpdesk">
                    <div class="container">
                        <div class="row">
                            <div class="section-title py-4">
                                <h2>helpdesk</h2>
                                <p>Always <span>here to support you!</span></p>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/helpline.svg" alt="" class="img-fluid"
                                    style="height: 50vh; max-width: 100%;">
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-8" style="border: 1px solid #d4d6df;margin-top: 10px; padding:15px; transition: 0.3s;  color: #2a2c39;border-radius: 0;justify-content:center;align-items:center;background-color:orange;">
                                        <p> The help desk provides user assistance to navigate and understand the
                                            aspects of the
                                            portal. This also provides a simple interface for maintenance
                                            of student information and issues faced.
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h4 style="				
							    border: 1px solid #d4d6df;
							    margin-top: 10px;
							    padding:15px;
							    transition: 0.3s;
							    color: #2a2c39;
							    border-radius: 0;
							"> <i class="fa fa-phone" style="color:orange;"></i> +91 7080102007</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h4 style=" border: 1px solid #d4d6df; margin-top: 10px; padding:15px; transition: 0.3s;  color: #2a2c39;border-radius: 0;"> 
                                            <i class="fa fa-envelope " style="color:orange;"></i>nouegyanhelp@gmail.com</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

				
				<div class="container-fluid  bg-gray">
					  <div class="row">
					    <div class="col-12 ms-5 mt-3">
					      <h4>Link</h4>
					      <h2>QUICK<span> LINKS</span></h2>
					    </div>
					  </div>
					  <div class="row justify-content-center mt-5" style="height: 50vh;">
					    <div class="col-12">
					      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
					        <div class="carousel-indicators">
					          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
					          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
					        </div>
					        <div class="carousel-inner">
					          <!-- First Slide -->
					          <div class="carousel-item active">
					            <div class="d-flex flex-wrap justify-content-center">
					              <div class="slider bg-white border mx-2 text-center">
					                <img src="img/logo2.png" class="d-block mx-auto" alt="..." style="height: 100px; width: 100px;float: left;">
					                <h4 class="text-brown mt-2">STD</h4>
					                <h5>Science & Technology Department</h5>
					              </div>
					              <div class="slider bg-white border mx-2 text-center">
					                <img src="img/logo1.png" class="d-block mx-auto" alt="..." style="height: 100px; width: 100px;float: left;">
					                <h4 class="text-brown mt-2">NOU</h4>
					                <h5>Nalanda Open University</h5>
					              </div>
					              <div class="slider bg-white border mx-2 text-center">
					                <img src="img/logo2.png" class="d-block mx-auto" alt="..." style="height: 100px; width: 100px;float: left;">
					                <h4 class="text-brown mt-2">BSHEC</h4>
					                <h5>Bihar State Higher Education Council</h5>
					              </div>
					            </div>
					          </div>
					          <!-- Second Slide -->
					          <div class="carousel-item">
					            <div class="d-flex flex-wrap justify-content-center">
					              <div class="slider bg-white border mx-2  text-center">
					                <img src="img/logo2.png" class="d-block mx-auto" alt="..." style="height: 100px; width: 100px;float: left;">
					                <h4 class="text-brown mt-2">BSHEC</h4>
					                <h5>Bihar State Higher Education Council</h5>
					              </div>
					              <div class="slider bg-white border mx-2 text-center">
					                <img src="img/logo3.png" class="d-block mx-auto" alt="..." style="height: 100px; width: 100px;float: left;">
					                <h4 class="text-brown mt-2">UGC</h4>
					                <h5>University Grants Commission</h5>
					              </div>
					              <div class="slider bg-white border mx-2 text-center">
					                <img src="img/logo2.png" class="d-block mx-auto" alt="..." style="height: 100px; width: 100px;float: left;">
					                <h4 class="text-brown mt-2">STD</h4>
					                <h5>Science & Technology Department</h5>
					              </div>
					            </div>
					          </div>
					          <!-- Third Slide -->
					          <div class="carousel-item">
					            <div class="d-flex flex-wrap justify-content-center">
					              <div class="slider bg-white border mx-2 text-center">
					                <img src="img/logo2.png" class="d-block mx-auto" alt="..." style="height: 100px; width: 100px;float: left;">
					                <h4 class="text-brown mt-2">STD</h4>
					                <h5>Science & Technology Department</h5>
					              </div>
					              <div class="slider bg-white border mx-2 text-center">
					                <img src="img/logo1.png" class="d-block mx-auto" alt="..." style="height: 100px; width: 100px;float: left;">
					                <h4 class="text-dark mt-2">NOU</h4>
					                <h5>Nalanda Open University</h5>
					              </div>
					              <div class="slider bg-white border mx-2 text-center">
					                <img src="img/logo2.png" class="d-block mx-auto" alt="..." style="height: 100px; width: 100px;float: left;">
					                <h4 class="text-brown mt-2">BSHEC</h4>
					                <h5>Bihar State Higher Education Council</h5>
					              </div>
					            </div>
					          </div>
					        </div>
					        <!-- Carousel Controls -->
					        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
					          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					          <span class="visually-hidden">Previous</span>
					        </button>
					        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
					          <span class="carousel-control-next-icon" aria-hidden="true"></span>
					          <span class="visually-hidden">Next</span>
					        </button>
					      </div>
					    </div>
					  </div>
					</div>
				<!--quick link-
				<section class="testimonial mb-2">
						<div class="container">
						<div class="row">
						<div class="section-title py-4">
						<h2>Links</h2>
						<p>Quick <span>Links</span></p>
						</div>
						    <div class="col-sm-12">
							 <div class="testimonials-slider swiper swiper-initialized swiper-horizontal swiper-pointer-events aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
				          <div class="swiper-wrapper" id="swiper-wrapper-c8be5ec46b989385" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-1539px, 0px, 0px);">
							<div class="swiper-slide quick-link1 swiper-slide-duplicate swiper-slide-duplicate-next" role="group" aria-label="4 / 4" style="width: 493px; margin-right: 20px;" data-swiper-slide-index="3">
				              <div class="quick-link">
				               <img src="images/logo2.png" class="testimonial-img" alt="">
								</div>
								<div class="txt-1">
								<h4>STD</h4>
								<h5>Science &amp; Technology Department </h5>
				              </div>
				            </div>

				            <div class="swiper-slide quick-link1" role="group" aria-label="1 / 4" style="width: 400px; margin-right: 20px;" data-swiper-slide-index="0">
				              <div class="quick-link">
				                <a href="http://www.nou.ac.in/examination.html" target="_blank"><img src="images/logo1.png" class="testimonial-img" alt=""></a>
								</div>
								<div class="txt-1">
								<h4>NOU</h4>
								<h5>Nalanda Open University </h5>
				              </div>
				            </div>
							<!-- End testimonial item -


							 <div class="swiper-slide quick-link1 swiper-slide-prev" role="group" aria-label="2 / 4" style="width: 400px; margin-right: 20px;" data-swiper-slide-index="1">
				              <div class="quick-link">
				               <a href="http://bshec.in/" target="_blank"> <img src="images/logo2.png" class="testimonial-img" alt=""></a>
								</div>
								<div class="txt-1">
								<h4>BSHEC</h4>
								<h5> Bihar State Higher Education Council</h5>
				              </div>
				            </div>
							<!-- End testimonial item --


				        <div class="swiper-slide quick-link1 swiper-slide-active" role="group" aria-label="3 / 4" style="width: 400px; margin-right: 20px;" data-swiper-slide-index="2">
				              <div class="quick-link">
				               <a href="https://www.ugc.ac.in/" target="_blank"> <img src="images/logo3.png" class="testimonial-img" alt=""></a>
								</div>
								<div class="txt-1">
								<h4>UGC</h4>
								<h5>University Grants Commission</h5>
				              </div>
				            </div>
							<!-- End testimonial item --

							 <div class="swiper-slide quick-link1 swiper-slide-next" role="group" aria-label="4 / 4" style="width: 400px; margin-right: 20px;" data-swiper-slide-index="3">
				              <div class="quick-link">
				               <a href="https://state.bihar.gov.in/dst/CitizenHome.html" target="_blank"> <img src="images/logo2.png" class="testimonial-img" alt=""></a>
								</div>
								<div class="txt-1">
								<h4>STD</h4>
								<h5>Science &amp; Technology Department </h5>
				              </div>
				            </div>
							<!-- End testimonial item --
							 <div class="swiper-slide quick-link1 swiper-slide-duplicate" role="group" aria-label="1 / 4" style="width: 400px; margin-right: 20px;" data-swiper-slide-index="0">
				              <div class="quick-link">
				                <a href="http://www.nou.ac.in/examination.html" target="_blank"><img src="images/logo1.png" class="testimonial-img" alt=""></a>
								</div>
								<div class="txt-1">
								<h4>NOU</h4>
								<h5>Nalanda Open University </h5>
				              </div>
				            </div></div>
						    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
						 </div>
				   </div>

						</div>
					</section>  -->
      				
                <section class="spacer">
                    <div class="container py-4">
                        <div class="section-title">
                            <h2>Feedback</h2>
                            <p>Feedback <span>From Our Students</span></p>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 pt-3 mt-3 supporter-main">
                                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="0" class="active" aria-current="true"
                                            aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="2" aria-label="Slide 3"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="3" aria-label="Slide 4"></button>

                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="supporter container">
                                                <div class="row">
                                                    <div class="col-sm-1"> </div>
                                                    <div class="col-sm-2">
                                                        <div style="height:150px; width:150px;">
                                                            <img src="images/t4.jpg" alt="" style="height:100%; width:100%;">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-9 supt-txt">
                                                        <p>“This is best and biggest unified platform
                                                            for instant online learning. We can easily
                                                            access any content of our enrolled course from the portal.
                                                            Thank you
                                                            NOU e-Gyan!!“</p>
                                                        <h6>-Rani Verma-</h6>
                                                        <h6>University Student</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="carousel-item">
                                            <div class="supporter container">
                                                <div class="row">
                                                    <div class="col-sm-1">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div style="height:150px; width:150px;">
                                                            <img src="images/t3.webp" alt=""
                                                                style="height:100%; width:100%;">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <p> “This is best and biggest unified platform
                                                            for instant online learning. We can easily
                                                            access any content of our enrolled course from the portal.
                                                            Thank you
                                                            NOU e-Gyan!!“</p>
                                                        <h6>-Saurabh Tripathi-</h6>
                                                        <h6>University Student</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="carousel-item">
                                            <div class="supporter container">
                                                <div class="row">
                                                    <div class="col-sm-1">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="supt-img" style="height:150px; width:150px;">
                                                            <img src="images/t1.jpg" alt=""
                                                                style="height:100%; width:100%;">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <p>“This is best and biggest unified platform
                                                            for instant online learning. We can easily
                                                            access any content of our enrolled course from the portal.
                                                            Thank you
                                                            NOU e-Gyan!!“</p>
                                                        <h6>-Avanish Sharma-</h6>
                                                        <h6>University Student</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="supporter container">
                                                <div class="row">
                                                    <div class="col-sm-1">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div style="height:150px; width:150px;">
                                                            <img src="images/t2.jpg" alt=""
                                                                style="height:100%; width:100%;">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <p>“This is best and biggest unified platform
                                                            for instant online learning. We can easily
                                                            access any content of our enrolled course from the portal.
                                                            Thank you
                                                            NOU e-Gyan!!“</p>
                                                        <h6>-Krishna Kumari-</h6>
                                                        <h6>University Student</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden" style="color:red;">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
    </section>
</body>
</html>