<html th:replace="~{admin/adminbase::layout(~{::section})}">
	<head></head>
	<body >
		<section>
				<h2 class="text-center text-info">Message From enquiry page</h2>
				
				<div class="row">
					<div class="col-sm-12 mx-auto">
						<table id="myTable" class=" table-bordered display">
						    <thead class=" text-center" style="color:black;">
								<tr>
															            <th class="text-center">id</th>
															            <th class="text-center">Student Name</th>
																		<th class="text-center">contact no.</th>
																		<th class="text-center">enquiry</th>
																		
																		<th class="text-center">view details</th>
																		<th class="text-center">Delete</th>
															        </tr>
															    </thead>
															    <tbody class="text-center" style="color:black;">
															        <tr  th:each="e:${elist}">
															            <td th:text="${e.id}" class="text-center"></td>
															            <td th:text="${e.name}"></td>
																		<td th:text="${e.contactno}" class="text-center"></td>
																		<td th:text="${e.enquirytext}"></td>
															            <td>
																			<a href="#">view more</a>
																		</td>
																		<td>
																			<a th:href="@{deleteenquiry(id=${e.id})}" class="text-decoration-none">
																			<button class="btn btn-danger" onclick="return confirm('are you sure want to delete?')">Delete</button>
																															</a>
																	</a>
															        </tr>
						    </tbody>
						</table>
					</div>
				</div>
				
			</section>
	</body>
</html>