<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../assets/vendors/css/vendor.bundle.base.css">
    
    <link rel="stylesheet" href="../assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="../assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/vendors/owl-carousel-2/owl.theme.default.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="../assets/css/style.css">
    
    <link rel="shortcut icon" href="../images/logo.png" />
	<style>
			label, select#dt-length-0.dt-input, button.dt-paging-button.current,div#myTable_info.dt-info{
				color:black !important;
			}
			
			div.dt-container .dt-search input
			{
				color: black;
			}
			
		</style>

	
</head>
<body>
    <div class="container-scroller">
      <nav class="sidebar sidebar-offcanvas text-light" id="sidebar"style="background-color:#80C4E9;color:white;">
          <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top"style="background-color:#80C4E9;color:white;">
            <span>NOU e-Gyan</span>
          </div>
          <ul class="nav">
            <li class="nav-item profile">
              <div class="profile-desc">
                <div class="profile-pic">
                  <div class="count-indicator"style="background-color:#80C4E9;">
                    <img class="img-xs rounded-circle " src="../images/logo.png " alt="">
                    <span class="count bg-primary"></span>
                  </div>
                  <div class="profile-name">
                    <h5 th:text="${name}" class="mb-0 font-weight-normal"></h5>      <!--code change  -->           
                  </div>
                </div>
                
              </div>
            </li>            
            <li class="nav-item menu-items">
              <a class="nav-link" href="adhome">
                <span class="menu-icon">
                  <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
           <li class="nav-item menu-items">
              <a class="nav-link" href="../admin/manstudent">
                <span class="menu-icon">
                  <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">Manage Students</span>
              </a>
            </li>    
            <li class="nav-item menu-items">
              <a class="nav-link" href="../admin/addstudymaterial">   <!-- change code for response means href wala change hua hai -->
                <span class="menu-icon">
                  <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">Add Study Material</span>
              </a>
            </li>
            
            <li class="nav-item menu-items">
              <a class="nav-link" href="../admin/managestudymaterial">
                <span class="menu-icon">
                  <i class="mdi mdi-onepassword text-info"></i>
                </span>
                <span class="menu-title">Manage Study Material</span>
              </a>
            </li>    
			
		<!--	<li class="nav-item menu-items">
			              <a class="nav-link" href="../admin/manageassignment">
			                <span class="menu-icon">
			                  <i class="mdi mdi-onepassword text-info"></i>
			                </span>
			                <span class="menu-title">Manage Assignment</span>
			              </a>
			            </li>  
						--> 
			
			<li class="nav-item menu-items">
			   <a class="nav-link" href="../admin/viewfeedback">
			      <span class="menu-icon">
			        <i class="mdi mdi-onepassword text-danger"></i>
			      </span>
			       <span class="menu-title">View Feedback</span>
			      </a>
			 </li>    
		
		    <li class="nav-item menu-items">
			   <a class="nav-link" href="viewcomplaint">
				 <span class="menu-icon">
				 <i class="mdi mdi-onepassword text-info"></i>
					 </span>
					  <span class="menu-title">View Complaints</span>
				 </a>
			</li>    
			
			<li class="nav-item menu-items">
					<a class="nav-link" href="../admin/viewenquiry">
					 <span class="menu-icon">
			       <i class="mdi mdi-onepassword text-info"></i>
				 </span>
		  	  <span class="menu-title">View Enquiry</span>
	    	 </a>
	       </li>    		   			   
            
		   <li class="nav-item menu-items">
		                 <a class="nav-link" href="../admin/changepassword">
		                   <span class="menu-icon">
		                     <i class="mdi mdi-logout text-danger"></i>
		                   </span>
		                   <span class="menu-title">changepassword</span>
		                 </a>
		               </li>  
		   
            <li class="nav-item menu-items">
              <a class="nav-link" href="logout">
                <span class="menu-icon">
                  <i class="mdi mdi-logout text-danger"></i>
                </span>
                <span class="menu-title">Logout</span>
              </a>
            </li>                     
          </ul>
        </nav>
        
        <div class="container-fluid page-body-wrapper">
        
          <nav class="navbar p-0 fixed-top d-flex flex-row" style="background-color:#80C4E9;">
            <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
              <a class="navbar-brand brand-logo-mini" href="#"><img src="../images/logo.png" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
              <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
              </button>
              <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown">
                  <a class="nav-link" id="profileDropdown" href="#" data-bs-toggle="dropdown">
                    <div class="navbar-profile">
                      <img class="img-xs rounded-circle" src="../assets/images/faces/face15.jpg" alt="">
                     
                      <p th:text="${name}" class="mb-0 d-none d-sm-block navbar-profile-name"></p> <!--code change  -->
                      <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                    </div>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                    <h6 class="p-3 mb-0">Profile</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                      <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                          <i class="mdi mdi-settings text-success"></i>
                        </div>
                      </div>
                      <div class="preview-item-content">
                        <p class="preview-subject mb-1">Change Password</p>
                      </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="logout" class="dropdown-item preview-item">       <!--code change  for calling logout-->
                      <div class="preview-thumbnail">
                        <div class="preview-icon  rounded-circle">
                          <i class="mdi mdi-logout"></i>
                        </div>
                      </div>
                      <div class="preview-item-content">
                        <p class="preview-subject mb-1">Log out</p>
                      </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <p class="p-3 mb-0 text-center">Advanced settings</p>
                  </div>
                </li>
              </ul>
              <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-format-line-spacing"></span>
              </button>
            </div>
          </nav>
          
          <div class="main-panel">
            <div class="content-wrapper"style="background-color: #FFF6E9;">
             <div th:replace="${content}"></div>
            </div>
          
            <footer class="footer"style="background-color: #FFF6E9;">
              <div class="d-sm-flex justify-content-center justify-content-sm-between ">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Deepak 2024</span>              
              </div>
            </footer>
          
          </div>
          
        </div>
        
      <div th:if="${msg}">
	  <input type="hidden" th:value="${msg}" id="msg"/>
	  </div>
	  
	  <script>
		var message = document.getElementById("msg");
		alert(message.value);
		</script>
      <script src="../assets/vendors/js/vendor.bundle.base.js"></script>  <!--code change  -->
	  <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
	  <script>
		$(document).ready( function () {
		    $('#myTable').DataTable();
		} );
	  </script>
	  
    <script src="../assets/vendors/chart.js/Chart.min.js"></script>
    <script src="../assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="../assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="../assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="../assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <script src="../assets/js/jquery.cookie.js" type="text/javascript"></script>
    
    <script src="../assets/js/off-canvas.js"></script>
    <script src="../assets/js/hoverable-collapse.js"></script>
    <script src="../assets/js/misc.js"></script>
    <script src="../assets/js/settings.js"></script>
    <script src="../assets/js/todolist.js"></script>
    
    <script src="../assets/js/dashboard.js"></script>
</body>
</html>