<html th:replace="~{admin/adminbase::layout(~{::section})}">
	<head></head>
	<body >
		<section>
				<h2 class="text-center text-info">Manage All Students</h2>
				
				<div class="row">
					<div class="col-sm-12 mx-auto">
						<table id="myTable" class=" table-bordered display">
						    <thead class="text-center" style="color:black;">
						        <tr>
						            <th class="text-center">Enrollment No.</th>
						            <th class="text-center">Student Name</th>
									<th class="text-center">Contact No.</th>
									<th class="text-center">Course</th>
									<th class="text-center">Address</th>
									<th class="text-center">Registration Date</th>
									<th class="text-center">Delete</th>
									
						        </tr>
						    </thead>
						    <tbody class="text-center" style="color:black;">
						        
						        <tr th:each="s:${slist}">
						            <td th:text="${s.enrollmentno}" class="text-center"></td>
						            <td th:text="${s.name}"class="text-center"></td>
									<td th:text="${s.contactno}" class="text-center"></td>
									<td th:text="${s.program}" class="text-center"></td>
									<!--<td class="text-center">
									<!--	<a href="#">View More..</a>
									</td>-->
									<td th:text="${s.address}"></td>
									<td th:text="${s.regdate}"></td>
									<td class="text-center">
										<a th:href="@{deletestudent(enroll=${s.enrollmentno})}" class="text-decoration-none">
										  <button class="btn btn-danger rounded-0" type="button" onclick="return confirm('Are you sure want to delete?');">Delete</button>
										</a>

									</td>
						        </tr>
						    </tbody>
						</table>
					</div>
				</div>
				
			</section>
	</body>
</html>